:root {
    --search-bg: rgba(22, 24, 35, 0.06);
    --search-height: 46px;
    --search-width: 361px;
    --search-btn-width: 56px;
    --search-btn-color: rgba(22, 24, 35, 0.34);
    --search-top-spacer: 9px;
}

.wrapper {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--default-layout-header-height, 60px);
    background: var(--while-color);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    z-index: 1000;

    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: inherit;
        max-width: var(--default-layout-max-width, 11150px);
        margin: auto;
        padding: 0 var(--default-layout-horizontal-spacer) 0 20px;
        overflow: hidden;
    }
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;

    .action-btn {
        font-size: 2.4rem;
        color: var(--text-color);
        background: transparent;
        margin-left: 16px;
        cursor: pointer;

        padding: 3px 3px 0;
    }

    .header-avatar {
        margin-left: 24px;
        width: 32px;
        height: 32px;
        background: center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        border-radius: 50%;
        cursor: pointer;
    }

    .header-ellipsis {
        background-color: transparent;
        cursor: pointer;
        font-size: 2rem;
        width: 20px;
        height: 20px;
        margin-left: 16px;
        padding: 0 4px;
    }
}
