// Menu

.menu-list {
    min-width: 224px;

    .menu-popper {
        padding: 8px 0;
    }
}

// Menu items

.menu-list {
    .menu-item {
        padding: 10px 8px 10px 16px;
        width: 100%;
        border: none;
        justify-content: flex-start;
        margin-left: 0;
        &:hover {
            background-color: rgba(22, 24, 35, 0.06);
        }
    }

    .separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    .menu-body {
        max-height: 590px;
        overflow: hidden auto;
    }
}

// Header

.header {
    display: flex;
    flex-shrink: 0;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: -8px;
    height: 50px;
    cursor: pointer;
}

.back-btn {
    margin-left: 28px;
    width: 20px;
    height: 20px;
    font-size: 1.4rem;
    line-height: 20px;
    background: none;
    cursor: pointer;
}

.header-title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 22px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
