.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: var(--default-layout-max-width);
    min-height: 100vh;
    margin-top: var(--default-layout-header-height);
    flex: 1 1 auto;

    // padding: 0 var(--default-layout-horizontal-spacer) 0 20px;
}

.content {
    width: 692px;
    max-width: 692px;
    padding: 24px 0;
    margin: 0 16px;
}
